<div class="container">
  <div class="add" *ngIf="!editMode">
    <form (ngSubmit)="addItem()" [formGroup]="itemData">
      <input type="text" placeholder="Enter name" formControlName="item" />

      <button type="submit" style="width: 15%; margin-left: 63px; height: 40px">
        ADD
      </button>
    </form>
  </div>

  <div class="edit" *ngIf="editMode">
    <form (ngSubmit)="save()" [formGroup]="itemData">
      <input type="text" placeholder="Enter name" formControlName="item" />

      <div class="updateCtrls">
        <button
          type="submit"
          style="width: 15%; margin-left: 63px; height: 40px"
        >
          UPDATE
        </button>
        <button
          type="submit"
          style="width: 15%; margin-left: 63px; height: 40px"
        >
          CANCEL
        </button>
      </div>
    </form>
  </div>

  <div class="list">
    <div class="item" *ngFor="let item of items; let i = index">

      <div style="display: flex; flex-direction: row" class="content">
        <input
          type="checkbox"
          style="height: 20px; width: 20px; position: relative; top: 22px"
        />
        <p>{{ item }}</p>
      </div>

      <div class="controls">
        <button
          (click)="editToDo(i)"
          style="
            background-color: rgb(81, 155, 247);
            border: none;
            border-radius: 5px;
          "
        >
          <img src="assets/icons-pencil.png" height="35px" width="35px" />
        </button>

        <button
          (click)="deleteToDo(i)"
          style="
            background-color: rgb(253, 97, 66);
            border: none;
            border-radius: 5px;
          "
        >
          <img src="assets/icons-empty-trash.png" height="35px" width="35px" />
        </button>
      </div>
      <!-- <hr style="color: red;" /> -->
    </div>
    
  </div>
</div>
